#bgBoard{
    margin: 2vw auto 2vw auto;
    width: fit-content;
    background-color: #0026cf;
    z-index: -1;
    border-radius: 5px;
    filter: blur(2px);

}
.cell{
    display: inline-block;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    background-color: white;
    margin: 0.2vw;
    @include small{
        height: 12vw;
        width: 12vw;
    }
}
.white{
    background-color: white;
}

.coin-yellow{
    @include coin('yellow')
}
.coin-red{
    @include coin('red')
}

