#game{
    height: 100vh;
    display: grid;
    grid-template-columns: auto 80%;
    grid-template-rows: auto 85%;
    grid-template-areas: 
        "aside header"
        "aside game-board";

    #score-board{
        grid-area: header;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: yellow;
        div{
            font-size: 3.5rem;
            color: white;
            text-align: center;
            margin: 40px;
        }
    }
    #info{
        display: none;
    }
    #chat-window{
        grid-area: aside;
        position: relative;
        background-color: blue;
        input{
            width: 100%;
            font-size: 2.4rem;
            position: absolute;
            text-align: center;
            bottom: 0;
        }
    }
    #game-board{
        grid-area: game-board;
        background-color: green;
    }
    #board{

    }
}

dialog{
    display: absolute;
    height: 30rem;
    width: 40rem;
    top: calc(50% - 40rem/2);
    padding: 0;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;

    #coins{
        height: 60%;
        div{
            margin: 0 0 0 0;
            height: 100%;
            width: 100%;
            font-size: 0;
            &:hover{
                transform: scale(1.2)
            }
        }
        #red{
            float: left;
            background-image: url('./../../img/red-coin.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            width: 50%;

        }
        #yellow{
            float: right;
            background-image: url('./../../img/yellow-coin.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            width: 50%;
        }
        &:after{
            content: "";
            display: block;
            clear: both;
        }
    }

    span{
        text-transform: uppercase;
        width: 100%;
        display: block;
        color: white;
        font-size: 2.4rem;
        margin: 4rem auto;
        text-align: center;
    }
}