section.wrapper{
    @include container();
    table{
        animation: scrollTop 0.7s forwards 1 ease;
        opacity: 0;
        margin: 5rem auto 0 auto;
        text-align: center;
        font-size: 2.5rem;
        caption{
            text-transform: uppercase;
            border-bottom: 1px solid black;
        }
        
        td, th{
            padding: 2.0rem;
            border-bottom: 1px solid black;
            
        }
        td{
            border-right: 1px solid black;
            &:last-child{
                border-right: none;
            }
        }
        th{
            button{
                font-size: 1.8rem;
                border: none;
                background-color: transparent;
                &:before{
                    content: '';
                    display: inline-block;
                    background-image: url('./../img/reload.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-right: 5px;
                    height: 1.7rem;
                    width: 1.7rem;
                    }
                &:hover{
                    animation: spin 0.2 forwards linear;
                    transform: scale(1.1);
                }

            }
        }    
        tbody{
            .full{
                display: inline-block;
                background-image: url('./../img/full.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin-right: 5px;
                height: 1.7rem;
                width: 1.7rem;
            }

     
            button{
    
                border: 2px solid black;
                text-transform: uppercase;
                color: white;
                font-size: 2rem;
                padding: 5px 10px;
                background-color: colors(primary);
                @include text-shadow();
                transition: 0.3s;
    
                &:hover{
                    background-color: colors(secondary);
                }
            }
        }


        tfoot{
            #createRoom{
                text-transform: uppercase;
                border: none;
                color: white;
                background-color: colors(secondary);
                border: 2px solid black;
                border-radius: 2px;
                padding: .5rem 2rem;
                font-family: inherit;
                font-size: 2rem;
                @include text-shadow();
                transition: 0.3s;
                font-weight: bold;
                &:hover{
                    background-color: lighten(colors(primary), 10%);
                }
            }
            &:last-child{
                td{
                    border-bottom: none;
                }
            }
        } 

         
    }
}

