@mixin coin($string) {
    background-image: url('./../img/#{$string}-coin.png');
    background-color: $string;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 8vw;
    width: 8vw;
    @include small{        
        height: 12vw;
        width: 12vw;
    }
}
@mixin small{
    @media (max-width: $small){
        @content;
    }
}

@mixin large{
    @media (min-width: $large){
        @content;
    }
}