<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
    <div class="login container">
            <span class="logo">Four-in-a-Line</span>
            <div class="">
                <input type="text" class="" placeholder="User name">
            </div>
            <a><button type="button" class="">Login</button></a>
    </div>
</body>
</html>