<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Rooms</title>
</head>
<body>
    <header>
        <h1>Four-in-a-Line</h1>
        <span>Your name: {{userName}}</span>
    </header>
    <div>
        <div>
            <span>Rooms</span>
            <div>
                <span>Player1</span>
                <span>Player2</span>
                <button>reload</button>
            </div>
            <div>
                <span>{{userName}}</span>
                <span>Andrew</span>
                <span>
                    <button>join</button>
                </span>
            </div>
            <div>
                <span>{{userName}}</span>
                <span>Andrew</span>
                <span>
                    Full
                </span>
            </div>

        </div>
    </div>
</body>
</html>